<html lang="en">
<head>
  <title>The Blog of MatthewNgan</title>
  <meta name="viewport" content="width=device-width">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
</head>
<body>
  <header>
    <h1 class="siteheader">The Blog of MatthewNgan</h1>
    <nav>
      <a href='/'>Home</a>
      <a href='/about/'>About</a>
      <a href='/contact/'>Contact</a>
    </nav>
  </header>
  <main>
    {{content}}
  </main>
  <footer>
    Created and maintained by MatthewNgan.
  </footer>
</body>
</html>
