<html lang="en">
<head>
  <title>Demo site</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
  <style type="text/css">
    * {
      font-family: 'Roboto Mono', monospace;
    }
  </style>
</head>
<body>
  <header>
    <h1>Demo site</h1>
    <nav>
      <a href='/'>Home</a>
      <a href='/about/'>About</a>
    </nav>
  </header>
  <main>
    {{content}}
  </main>
  <footer>
    Created by MatthewNgan. CC0 License.
  </footer>
</body>
</html>
