<html lang="en">
<head>
  <title>Demo site</title>
  <meta name="viewport" content="width=device-width">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
  <style type="text/css">
    body {
      font-family: 'Roboto Mono', monospace;
      margin: auto;
      max-width: 700px;
      padding: 1em;
    }
    .siteheader {
      font-size: 3em;
  </style>
</head>
<body>
  <header>
    <h1 class="siteheader">Demo site</h1>
    <nav>
      <a href='/'>Home</a>
      <a href='/about/'>About</a>
    </nav>
  </header>
  <main>
    {{content}}
  </main>
  <footer>
    Created by MatthewNgan. CC0 License.
  </footer>
</body>
</html>
